/*
 * Dark Web, a Web Extension to dark-theme the web.
 * Copyright (C) 2018  Aidan Gauland
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.

 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <https://www.gnu.org/licenses/>.
 */
$bg-color: rgb(70, 70, 70);
$fg-color: rgb(212, 212, 212);

header,
div,
#main,
#main-content,
#content {
  background-color: $bg-color !important;
  color: $fg-color !important;

  h1, h2, h3, h4, h5, h6, // sass-lint:disable-line single-line-per-selector
  p,
  div,
  li *,
  a,
  tt,
  table * {
    background-color: $bg-color !important;
    color: $fg-color !important;
    text-shadow: none !important;
  }

  pre {
    filter: invert(100%) !important;
  }
}
